.circle {
    background-color: #170A1C;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: auto;
    
    animation: orbit 2.5s linear infinite;
}

@keyframes orbit {
    from {
      transform: rotate(0deg) translateX(150px);
    }
    to {
      transform: rotate(360deg) translateX(150px);
    }
  }